# .gitignore (Versión permisiva)

# Ignorar carpetas de caché de Python
__pycache__/

# Ignorar carpetas de entorno de Conda
/ocr_env/
/alpr_env_final/

# Ignorar archivos específicos del sistema operativo
.DS_Store