# Ignorar carpetas de caché de Python
__pycache__/

# Ignorar entornos virtuales
ocr_env/

# Ignorar archivos de sistema
.DS_Store

# Ignorar carpetas de resultados y salidas
resultados_*/
runs/
ppo_tensorboard/

# Ignorar archivos generados
*.zip
*.pdf
*.png
*.log